@{
    Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h4>Add a new Cuisine!</h4><br>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", style = "text-align: center;" } )<br><br>
    

    <input type="submit" value="Add a new cuisine" class="btn btn-dark"/><br><br>
}
<p>@Html.ActionLink("Show all cuisines", "Index")</p>