@{
    Layout = "_Layout";
}

@model BestRestaurants.Models.Review

<h3>Add a new Review!</h3><br>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.Description, new { placeholder = "Description", style = "text-align: center;" } )<br><br>
    
    @Html.LabelFor(model => model.Restaurant)
    @Html.DropDownList("RestaurantId")<br>

    <input type="submit" value="Add new review" class="btn btn-dark" /><br><br>
}
<p>@Html.ActionLink("Show all restaurants", "Index", "Restaurants")</p>